
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
<%
	Cookie ck = new Cookie("discount","10");
	ck.setMaxAge(60*60*24);
	
	response.addCookie(ck);
%>

</head>

<body> -->
<template>
  <div>
  <form name="form1" method="post" action="process_cart">
    <table width="600" border="1" cellspacing="0" cellpadding="2">
      <tr>
        <th width="42" bgcolor="#999999" scope="col">No.</th>
        <th width="286" bgcolor="#999999" scope="col">Online Course</th>
        <th width="77" bgcolor="#999999" scope="col">Qty.</th>
        <th width="188" bgcolor="#999999" scope="col">Amount</th>
        <th width="175" bgcolor="#999999" scope="col">Total</th>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>Hacking Exposed</td>
        <td align="center"><input name="c1" v-model="c1" type="text" id="c1" value="2" size="10">
        </td>
        <td align="right"><input type="hidden" v-model="price1" name="price1" id="price1" value="1500">
          ${{price1}}</td>
        <td align="right">$ {{c1*price1}}</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>Technical Security Solution</td>
        <td align="center"><input name="c2" type="text" v-model="c2" size="10"></td>
        <td align="right"><input type="hidden" name="price2" v-model="price2">
          $ {{price2}}</td>
        <td align="right">${{c2*price2}}</td>
      </tr>
      <tr>
        <td align="center">3</td>
        <td>Security Best Practice</td>
        <td align="center"><input name="c3" type="text" v-model="c3" value="1" size="10"></td>
        <td align="right"><input type="hidden" name="price3" v-model="price3" value="750">
          $7{{price3}}</td>
        <td align="right">${{c3*price3}}</td>
      </tr>
      <tr>
        <td colspan="5" align="right">Total: ${{(c1*price1) + (c2*price2) + (c3*price3)}}</td>
      </tr>
      <tr>
        <td colspan="5" align="right">
          <!-- <input type="submit" name="update_cart" id="update_cart" value="Update Cart"> -->
          <v-btn @click="update_cart" color="primary">Update Cart</v-btn>
        </td>
      </tr>
    </table>
  </form>
  <h1>Total = {{(c1*price1) + (c2*price2) + (c3*price3)}}</h1>
  <h1>Discount = {{discount}} , Grand Total = {{(1-(discount/100)) *((c1*price1) + (c2*price2) + (c3*price3))}} </h1>
  </div>
</template>
<script>
import VueCookies from 'vue-cookies'
export default {
  data: () => ({
   
      c1: 2,
      price1: 1500,
      c2: 1,
      price2: 1000,
      c3: 1,
      price3: 750,
      discount:10,
   
  }),
  created() {
    var dc = VueCookies.get('discount');
    if(dc){
      this.discount=dc;
    }else{
      this.discount=10;
      VueCookies.set('discount', dc, "24h")
    }
    

   

  },
  methods:{
    update_cart(){
      let formdata={"c1":this.c1,"price1":this.price1,"c2":this.c2,"price2":this.price2,"c3":this.c3,"price3":this.price3 }
      this.$axios.post("http://localhost:5000/api/update_cart",formdata);

    }
  }
}
</script>

