
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
<%
	Cookie ck = new Cookie("discount","10");
	ck.setMaxAge(60*60*24);
	
	response.addCookie(ck);
%>

</head>

<body> -->
<template>

<form name="form1" method="post" action="process_cart">
  <table width="600" border="1" cellspacing="0" cellpadding="2">
    <tr>
      <th width="42" bgcolor="#999999" scope="col">No.</th>
      <th width="286" bgcolor="#999999" scope="col">Online Course</th>
      <th width="77" bgcolor="#999999" scope="col">Qty.</th>
      <th width="188" bgcolor="#999999" scope="col">Amount</th>
      <th width="175" bgcolor="#999999" scope="col">Total</th>
    </tr>
    <tr>
      <td align="center">1</td>
      <td>Hacking Exposed</td>
      <td align="center"><input name="c1" type="text" id="c1" value="2" size="10"></td>
      <td align="right"><input type="hidden" name="price1" id="price1" value="1500">
        $1,500.00</td>
      <td align="right">$3,000.00</td>
    </tr>
    <tr>
      <td align="center">2</td>
      <td>Technical Security Solution</td>
      <td align="center"><input name="c2" type="text" id="c2" value="1" size="10"></td>
      <td align="right"><input type="hidden" name="price2" id="price2"  value="1000">
        $1,000.00</td>
      <td align="right">$1,000.00</td>
    </tr>
    <tr>
      <td align="center">3</td>
      <td>Security Best Practice</td>
      <td align="center"><input name="c3" type="text" id="c3" value="1" size="10"></td>
      <td align="right"><input type="hidden" name="price3" id="price3"  value="750">
        $750.00</td>
      <td align="right">$750.00</td>
    </tr>
    <tr>
      <td colspan="5" align="right">Total: $4,750.00</td>
    </tr>
    <tr>
      <td colspan="5" align="right">
        <input type="submit" name="update_cart" id="update_cart" value="Update Cart">
    </td>
    </tr>
  </table>
</form>

</template>
<script>
  import VueCookies from 'vue-cookies'
export default{
    data:{

    },
    created(){

        VueCookies.set('discount' , 10, "24h") 
    }
}
</script>

