<template>
    <v-container>
        {{param}}
    </v-container>
</template>
<script>
export default{
    data:{
        param:"",
    },
    created(){
        this.param = this.$route.query;
        console.log(this.$route)
        console.log(this)
    }, async asyncData({req,res}){
        console.log(req)
    }, 
        
   
}
</script>
