<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>Workshop 01</v-card-title>
          <v-card-text>
            <ul>
              <li><a href="/workshop/wk01/port_scan.html" target="_blank">Workshop 01 Port Scan</a></li>
            </ul>

          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card outlined>
          <v-card-title>Workshop 02</v-card-title>
          <v-card-text>
            <ul>
              <li> <a href="/workshop/wk02/browse_dir.html" target="_blank">Workshop 02 Browse Directory</a></li>
              <li> <a href="/workshop/wk02/browse_file.html" target="_blank">Workshop 02 Browse Files</a></li>
            </ul>


          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card outlined>
          <v-card-title>Workshop 03</v-card-title>
          <v-card-text>
            <ul>
              <li> <a href="/victim/cart/cart" target="_blank">Workshop 03 Classic Cart</a></li>
              <li> <a href="/victim/cart/cart2" target="_blank">Workshop 03 Call API Cart</a></li>
              <li> <a href="/workshop/wk03/readme.md" target="_blank">Workshop 03 Readme</a></li>
            </ul>


          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
